body {
    font-family: "Playfair Display", serif;
}

.has-text-primary {
    color: #fff;
}

a, .has-text-info, .has-text-link, .has-text-success,
h3.has-text-info {
    color: #ff5c39 !important;
}

/*
 * Custom properties
 */
h1.title img {
    width: 100%;
    max-width: 600px;
}

section.hero {
    background-image: url(../img/banner-placeholder@1x.jpg);
    background-size: cover;
    background-position: center center;
}

div.hero-body img {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    max-width: 90%;
}

footer.hero-foot {
    background-color: #000;
    color: #fff;
    padding-bottom: 3rem;
    padding-top: 3rem;
}